@import "~/node_modules/bulma/sass/utilities/mixins.sass";

.perks {
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    align-items: stretch;
    justify-content: stretch;
  }

  .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      padding: 0 20px;
    }

    @include tablet-only {
      padding: 0 20px;
    }
  }
}
