.o-hero {}

.background-image {
  /* background-image: linear-gradient(to bottom, rgba(80, 80, 80, 0.3)  0%,rgba(82, 82, 82, 0.3) 100%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.is-size-special {
  font-size: 5rem;
}
