<section class="o-user-register">
  <div class="hero-body">
    <div class="container">
      <!-- <div class="field">
        <div class="control">
          <input class="input is-large" type="text" placeholder="name">
        </div>
      </div> -->
      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" placeholder="email">
        </div>
      </div>
      <div class="field">
        <label class="checkbox">
          <input type="checkbox">
          I agree to the <a href="#">terms and conditions</a>
        </label>
      </div>
      <nuxt-link class="button is-primary is-large is-fullwidth" to="profile">START NOW</nuxt-link>
    </div>
  </div>
</section>
