@import "../../assets/theme";

.rankup-modal {
  .swiper-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .swiper-slide {
    width: 300px;
  }
}

.rank-item {
  border: solid $dark 2px;
}
