// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #3FBE79;
$primary-invert: findColorInvert($primary);
$dark: #343D4A;
$title-color: $dark;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: ("white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

// Links
$link: $blue;
$link-invert: $blue-invert;
$link-focus-border: $blue;

.sticky {
  position: sticky;
  top: 5rem;
  padding: 2.5rem;
}

//typographie
$family-sans-serif:'Palanquin',
sans-serif;

$title-weight: 700;
$subtitle-weight:400;
$weight-light: 100;
$weight-normal: 300;
$weight-medium: 300;
$weight-semibold: 500;
$weight-bold: 500;


// $progress-bar-background-color: $dark;
$progress-border-radius: 0;
$progress-indeterminate-duration: 15s;

.title {
  font-family: 'Palanquin Dark', sans-serif;
}

.subtitle {
  font-family: 'Delius', cursive;
}

.fixed-to-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem 0;
  background-color: #fefefe;
  border-top: 1px solid lightgray;
  z-index: 1000;
}

.toast {
  border-radius: 0
}
