<section class="o-perk">

  <div class="perk__main">
    <div class="perk__main-image">
      <img class="perk__main" :src="buildImageUrl(main)" alt="main">
    </div>
  </div>
  <div class="perk__additional">
    <div class="perk__additional-logos">
      <div class="perk__additional-logo" v-for="logo in additional">
        <img :src="buildImageUrl(logo)" alt="logo">
      </div>
    </div>
  </div>
  <h1 class="subtitle is-size-2 is-size-3-mobile perk__title">{{ title }}</h1>
  <p class="subtitle is-size-2 is-size-3-mobile">{{ price }}</p>
  <!-- <a class="button is-success is-fullwidth subtitle is-size-3 is-size-5-mobile" :href="btn.link">{{ btn.text }}</a> -->
  <nuxt-link class="button is-primary is-medium is-fullwidth not-rounded" to="/registerUser">I WANT THIS</nuxt-link>
  <a class="perk_detail is-size-4 is-size-5-mobile" :href="detail.link">{{ detail.text }}</a>

</section>
