<section class="city-item">
  <div class="card">
    <div class="card-image has-text-centered">
      <figure class="image is-3by2">
        <img :src="buildImageUrl(city.name)" />
      </figure>
      <div class="card-content is-overlay is-clipped is-center">
        <p class="title is-1 has-text-white">{count}</p>
      </div>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <h1 class="title is-4">{{city.name}}</h1>
          <!-- <p class="subtitle is-6">{{city.country.name}}</p> -->
          <p>{{city.available}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
